/* ==============================
    03. フォントの変更
================================ */

/*
  文字の大きさを変える
 */
.size {
  font-size: 60px;
}

/*
文字の太さを変える
*/
.weight {
  font-weight: bold;
  /* boldは600で指定する */
  /* font-weight: 100; */
  /* font-weight: 900; */
  /* 太さが対応していないとならないので注意 */
}

/*
文字の字体を変える
*/
.family {
  /* 明朝体にしてみる */
  font-family: YuMincho;
}
