/* ==============================
    02. 色を変える
================================ */

/*
  文字の色を変える
 */
h2 {
  color: #1278ce;
}

/*
  カラーコード
  よく使用されるのは, 6桁の0〜fの16進数で色を指定する方法（HEX）
  カラーピッカーで検索すると好きな色のコードが取得できる↓
  https://www.google.com/search?q=%E3%82%AB%E3%83%A9%E3%83%BC%E3%83%94%E3%83%83%E3%82%AB%E3%83%BC
  ※ 0〜fの16進数... 小さい数字← 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f →大きい数字
  ※ #333333 は #333 と省略可
*/
.red {
  /* 赤最大値（左2桁） */
  color: #ff0000; /* #f00 と省略可
   */
}
.green {
  /* 緑最大値（真ん中2桁） */
  color: #00ff00;
}
.blue {
  /* 青最大値（右2桁） */
  color: #0000ff;
}

/*
  背景の色を変える
 */
h3 {
  background-color: tomato; /* 色を表す英単語もある */
}

/* この他にも色を指定できるものは多い.
  カラーコードという概念だけ覚えておこう. */
