/* ==============================
    04. Size を指定
================================ */

/*
  幅を指定
 */
.box {
  background-color: aquamarine; /* 領域がわかるように背景に色をつける */
  width: 200px;
  /* 最大値を指定（widthをコメントアウトして確認） */
  max-width: 900px;
  /* 同様に最小値を指定可能 */
}

/*
  高さを指定
*/
.box {
  height: 200px;
}

/*
  単位について
  ここでは深くふれないが, pxの他に
  %, em, rem, vw, vh がある
  調べてつかってみよう
*/

/*
  spanタグでも同様にすると...
*/
span {
  background-color: darkorange;
  width: 2000px;
  height: 2000px;
}
/* どうやら様子がおかしいことに気がつく
  次回に続く */
